body
 {  
  margin: 50px;
  /* padding: 0; */
  font-family: 'Architects Daughter', "cursive";
  background: url('https://i.imgur.com/IMjKmwu.jpg') #6b3a0d;
  
 



}

code {
  font-family: 'Architects Daughter', "cursive";
}

